.navbar1
{
    .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
}
body {
  padding-top: 70px; /* navbar height */
}

}
.logoimage
{
width: 30px;
height: 30px;
}
.largescreen{
    width: 40%;
}
.navimagesize
{
    width: 3rem;
    height: 3rem;
}

.new
{
    position: relative;
    bottom: 20px;
    right:  80px;
}
.new1
{
    position: relative;
    bottom: 10px;
    right:  8px;
}

.newshape
{
        border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size:x-small;
    font-weight: bold;

}
.navend{
    width: 15%;
}
.aligndiv
{
    width: 70%;
    
}

.alignsubdiv
{
    width: 30%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.searchbutton
{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color:red ;
    align-content: center;
    padding-left:1rem;
}
main{
    background-color: rgb(252, 247, 247);
}
.div1
{
    display: flex;
    
    flex-wrap: nowrap;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 20px;;
}
   .listing-scroll {

    scroll-behavior: smooth;
      padding-bottom: px;
      overflow: auto;
    }
    .scroll-wrapper::-webkit-scrollbar {
    display: none;
  }

 

   .imagesize {
    width: 12rem;
    height: 12rem;

    border-radius: 15px;
    margin: 2px;
  }

@media screen and (min-width:744px)  {
    .mobilescreen{
        display: none;

    }}

@media screen and (max-width:743px) {
    .largescreen
    {
        display: none;
    }
    .largescreen1
    {
        display: none;
    }
    .logo
    {
        display: none;

    }
    .navend
    {
        display: none;
    }
    .search1
    {
        display: none;
    }
}
        
    

